#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#0a0300",
    floating_border_color: "#C7701B",
    focused_border_color: "#c1c0bf",
    background_color: "#0a0300",
)